@/atom:NafionChain/C 12.011  # C
@/atom:NafionChain/F 18.998  # F
@/atom:NafionChain/O 15.999  # O
@/atom:NafionChain/S 32.060  # S
@/atom:NafionChain/H 1.008  # H
@/atom:TIP3P/O 15.999  # O
@/atom:TIP3P/H 1.008  # H
